.fullPage{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffff;
}
.shadeLogo{
  margin-top: -14px;
}
.navArea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.navBar{
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #161c2d;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.myBlueButton{
  background-color: #258AFF;
  width: 151.19px;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 5px;
  border: 1px solid #258AFF;
}

.myBlueButton:hover{
  background-color: #1D1CE5;
  cursor: pointer;
}
#homePage{
  width: 1512px;
  margin: auto;
}

h1{
font-family: 'DM Sans',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 84px;
color: #1F1F1F;
width: 500px;
text-align: left;
margin-left: 20%;
}

.headerText{
  width: 500px;
  margin-left: 20%;
  font-family: "DM Sans",sans-serif;
  font-size: 20px;
}
.decImage{
  position: absolute;
  margin-top: -250px;
}
.decImages{
  position: absolute;
  margin-left: 1160px;
  margin-top: -80px;
}
.downSec{
  margin-left: 20%;
}
.downSect{
  margin-left: 20%;
  margin-bottom: 30px;
  border: 2px solid #B2B2B2;
  width:20%;
}
.littleImg{
margin-left: 5%;
}
.redButton{
  background-color:#FF5349;
  width: 225px;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 5px;
  border: 1px solid #FF5349;
  position: absolute;
  margin-left: 65%;
  margin-top: -160px;
}
.redButton:hover{
  background-color: #FF5858;
  cursor: pointer;
}

.lapTop{
margin: 40px 140px;
}
.logoLogo{
padding: 30px 20%;
position: relative;
margin-left: -200px;
}
.logoLogos{
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
}
ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
margin-right: 20px;
}
#servicesPage{
  width: 80%;
  margin: 20px auto;
}
h2{
  font-size: 48px;
  font-family: "DM Sans",sans-serif;
  line-height: 57.6px;
  font-weight: 700;
  color: #1F1F1F;
}
h6{
font-family: 'DM Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 27px;
color: #1F1F1F;
}
.headerTexts{
  width: 500px;
  font-family: "DM Sans",sans-serif;
  font-size: 20px;
  margin-top: 5%;
  display: inline-block;
  color: #33333;
}
.headerTexts2{
  color: #3C4048;
}
.headerTexts3{
letter-spacing: 0.4px;
color: rgba(51, 51, 51, 0.83);
font-style: italic;
font-style: 20px;
width: 530px;
margin: auto;
margin-top: 2%;
}
.groupEr{
  margin-top: 15%;
  margin-bottom: 17%;
}
.wrapPer{
  margin-top: 2%;
  border: 1px solid #EAEAEA;
  width: 450px;
  border-radius: 5px;
  padding: 10px 20px;
}
.paraGraph{
  margin-left: 50px;
}
.tinyLogo{
position: absolute;
margin-right: 7px;
padding: 5px 5px;
}
#testimonialSection{
  width: 80%;
  margin: 20px auto;
  padding: 12% 20px;
  font-family: "DM Sans",sans-serif;
}
.testionialHeader{
  text-align: center;
  padding-bottom: 8%;
  width: 688px;
  margin: auto;
}
.tesTimonial{
  text-align: left;
  font-style: italic;
}
.founDer{
  margin-left: 70px;
}
.founDers{
  padding-top: 3%;
}
.tinyLogos{
  position: absolute;
  margin-top: 7px;
}
.founderName{
  font-size: 13px;
  font-style: italic;
  margin-top: -2px;
}
#freeDownloadSection{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 5%;
}
.navArea2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10%;
  margin-bottom: 7%;
}
.navBar2{
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  color: #161c2d;

}
.socialsLogo{

}
.footFoot{
text-align: center;
font-size: 14px;
}
